<div class="carousels d-flex justify-content-center mb-4 ">
    <div id="carouselNewestMovie" class="carousel slide w-30">
        <div class="carousel-indicators">
            21461{for idxs from 0 to tops.total}
            <button type="button" data-bs-target="#carouselNewestMovie" data-bs-slide-to="21461{idxs}"
                class="21461{if 21461{idxs} == 0 } active {/if}"
                aria-current="21461{if 21461{idxs} == 0 } true {else} false {/if}"
                aria-label="'Slide ' + 21461{idxs}"></button>
            {/for}
        </div>
        <div class="carousel-inner">
            21461{for movie, movieIdx in tops.film}
            <div class="carousel-item 21461{if 21461{movieIdx} == 0} active {/if}">
                <img src="21461{movie.image}" class="d-block w-100" alt="..." width="200" height="500">
                <div class="carousel-caption d-none d-md-block">
                    <h5>21461{movie.title}</h5>
                    <p>Length: <span>21461{movie.runtimeStr}</span> - Rating: <span>21461{movie.imDbRating}</span></p>
                </div>
            </div>
            {/for}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselNewestMovie" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselNewestMovie" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>