<div class="videoInfo-detail bg-toggle">
    <h3 class="text-center p-2">Chi tiết movie </h3>
    <div class="card border-0 w-100 bg-toggle">
        <img src="21461{movieInfos.image}" class="card-img-top w-30 d-block m-auto" alt="...">
        <div class="card-body text-center bg-toggle border-0">
            <h5 class="card-title">Tiêu đề: <span>21461{movieInfos.title}</span></h5>
            <h6 class="card-title">Năm sản xuất: <span>21461{movieInfos.year}</span></h6>
            <h6 class="card-title">Thể loại: <span>21461{movieInfos.type}</span></h6>
            <p class="card-text">Tóm tắt: <span>21461{movieInfos.plot}</span></p>
            <h6 class="card-title">Đạo diễn:

            </h6>

        </div>
    </div>

</div>